body {
  background-color: lightgrey;
  font-family: sans-serif;
  line-height: 1.5;
  margin: 0;
}

#navbar {
  background-color: #eee;
  border-bottom: 2px solid white;
}

#navbar header {
  padding: 10px;
  text-align: center;
}

#navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-link {
  display: block;     
  padding: 15px;
  text-decoration: none;
  color: black;
  border-bottom: 1px solid white;
}

.nav-link:hover {
  background-color: white;
}

#main-doc {
  padding: 20px;
}

section {
  margin-bottom: 40px;
}

code {
  display: block;
  background-color: #fff;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  font-family: monospace;
}

@media screen and (min-width: 1200px) {
  #navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    border-right: 2px solid white;
    background-color: #fff;
  }
  
  #main-doc {
    margin-left: 270px;
    max-width: 800px;
  }
}